<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/bootstrap.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Cart</title>
  </head>
  <body>
    @@include("../../blocks/modules/header/header.html")
    <section class="cart-heading">
      <div class="container product__cart-heading">
        <h1 class="cart-heading__title">new arrivals</h1>
        <ul class="cart-heading__list">
          <li class="cart-heading__item">home</li>
          <li class="cart-heading__item">/</li>
          <li class="cart-heading__item">men</li>
          <li class="cart-heading__item">/</li>
          <li class="text-pink font-weight700">new arrivals</li>
        </ul>
      </div>
    </section>
    <main class="product__slider">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../img/content-product.jpg"
              class="d-block mx-auto"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../img/content-product.jpg"
              class="d-block mx-auto"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="../img/content-product.jpg"
              class="d-block mx-auto"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Предыдущий</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Следующий</span>
        </button>
      </div>
    </main>
    <section class="product row pr">
      <div class="pa product__box">
        <div class="col-12 text-center">
          <h1 class="product__heading text-pink tt-up">women collection</h1>
        </div>
        <div class="col-12 text-center tt-up">
          <h2 class="product__title">moschino cheap and chic</h2>
        </div>
        <div class="col-12 text-center mx-auto w-50 product__text">
          Compellingly actualize fully researched processes before proactive
          outsourcing. Progressively syndicate collaborative architectures
          before cutting-edge services. Completely visualize parallel core
          competencies rather than exceptional portals.
        </div>
        <div class="col-12 text-center text-pink product__price">
          <p>$561</p>
        </div>
        <div class="col-12 text-center"><hr /></div>
        <div class="col-12 text-center">
          <ul class="product__list">
            <li class="product__item mg-r42">
              choose color
              <img class="mg-r23 pd-l9" src="../img/svg/product_item.svg" />
            </li>
            <li class="product__item mg-r42">
              choose size
              <img class="mg-r23 pd-l9" src="../img/svg/product_item.svg" />
            </li>
            <li class="product__item">
              quantity <img class="pd-l9" src="../img/svg/product_item.svg" />
            </li>
          </ul>
        </div>
        <div class="col-12 text-center">
          <button class="text-pink product__button">
            <img class="product__img" src="../img/svg/product_cart.svg" />Add to
            Cart
          </button>
        </div>
      </div>
    </section>
    <section class="product__goods">
      <ul class="container products__list">
        <li class="products__item">
          <img
            class="products__item-img"
            src="../img/product-4.jpg"
            alt="product-1"
            width="360"
            height="420"
          />
          <h3 class="products__item-heading">ellery x m'o capsule</h3>
          <p class="products__item-text">
            Known for her sculptural takes on traditional tailoring, Australian
            arbiter of cool Kym Ellery teams up with Moda Operandi.
          </p>
          <p class="products__item-price">$52.00</p>
          <button class="products__item-button" type="button">
            Add to Cart
          </button>
        </li>
        <li class="products__item">
          <div class="products__item-img">
            <img
              class="products__item-img"
              src="../img/product-3.jpg"
              width="360"
              height="420"
            />
          </div>
          <h3 class="products__item-heading">ellery x m'o capsule</h3>
          <p class="products__item-text">
            Known for her sculptural takes on traditional tailoring, Australian
            arbiter of cool Kym Ellery teams up with Moda Operandi.
          </p>
          <p class="products__item-price">$52.00</p>
          <button class="products__item-button" type="button">
            Add to Cart
          </button>
        </li>
        <li class="products__item">
          <img
            class="products__item-img"
            src="../img/product-6.jpg"
            width="360"
            height="420"
          />
          <h3 class="products__item-heading">ellery x m'o capsule</h3>
          <p class="products__item-text">
            Known for her sculptural takes on traditional tailoring, Australian
            arbiter of cool Kym Ellery teams up with Moda Operandi.
          </p>
          <p class="products__item-price">$52.00</p>
          <button class="products__item-button" type="button">
            Add to Cart
          </button>
        </li>
      </ul>
    </section>
    @@include("../../blocks/modules/footer/footer.html")
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
